@import 'src/App.scss';

.contact {
    display: flex;
    flex-direction: column;
    .contact__description {
        margin-bottom: 20px;
        text-align: center;
        font-family: $mono-font-light;
        color: $cyan;
    }
    .contact__title {
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        color: $white-blue-1;
        text-align: center;
        margin-bottom: 20px;
    }
    .contact__text {
        line-height: 1.5;
        margin: 0 auto;
        width: 450px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: $white-blue-2;
        margin-bottom: 35px;
    }
    .simple-button {
        margin: 0 auto;
        padding: 15px;
        width: 80px;
    }
}

@media screen and (max-width: 700px) {
    .contact {
        .contact__title {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact {
        .contact__title {
            font-size: 25px;
        }
        .contact__text {
            line-height: 1.5;
            width: 100%;
        }
    }
}